# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,41.3712,-73.4140,56.64,85,100,4.99,overcast clouds
1,1,Colares,PT,38.7992,-9.4469,60.76,88,47,23.00,scattered clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,46.06,53,20,3.44,few clouds
3,3,Tiksi,RU,71.6872,128.8694,18.77,88,67,7.94,broken clouds
4,4,Yellowknife,CA,62.4560,-114.3525,54.12,76,75,11.50,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Yulara,AU,-25.2406,130.9889,77.43,19,100,13.44,overcast clouds
6,6,Kupang,ID,-10.1667,123.5833,86.47,59,21,5.57,few clouds
8,8,Carnarvon,AU,-24.8667,113.6333,72.18,59,0,20.92,clear sky
11,11,Las Navas,PH,12.3392,125.0313,89.06,61,54,5.93,broken clouds
12,12,Ribeira Grande,PT,38.5167,-28.7000,70.32,70,9,12.30,clear sky
14,14,Pedernales,DO,18.0384,-71.7440,79.21,79,98,4.25,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,82.38,75,23,4.00,few clouds
18,18,Butaritari,KI,3.0707,172.7902,82.00,77,91,14.07,overcast clouds
22,22,Ambon,ID,-3.6954,128.1814,87.94,66,40,4.61,scattered clouds
27,27,Isangel,VU,-19.5500,169.2667,86.11,74,75,11.50,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Yulara,AU,-25.2406,130.9889,77.43,19,100,13.44,overcast clouds
6,6,Kupang,ID,-10.1667,123.5833,86.47,59,21,5.57,few clouds
8,8,Carnarvon,AU,-24.8667,113.6333,72.18,59,0,20.92,clear sky
11,11,Las Navas,PH,12.3392,125.0313,89.06,61,54,5.93,broken clouds
12,12,Ribeira Grande,PT,38.5167,-28.7000,70.32,70,9,12.30,clear sky
14,14,Pedernales,DO,18.0384,-71.7440,79.21,79,98,4.25,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,82.38,75,23,4.00,few clouds
18,18,Butaritari,KI,3.0707,172.7902,82.00,77,91,14.07,overcast clouds
22,22,Ambon,ID,-3.6954,128.1814,87.94,66,40,4.61,scattered clouds
27,27,Isangel,VU,-19.5500,169.2667,86.11,74,75,11.50,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Current Description
5           Yulara      AU     77.43 -25.2406  130.9889     overcast clouds
6           Kupang      ID     86.47 -10.1667  123.5833          few clouds
8        Carnarvon      AU     72.18 -24.8667  113.6333           clear sky
11       Las Navas      PH     89.06  12.3392  125.0313       broken clouds
12  Ribeira Grande      PT     70.32  38.5167  -28.7000           clear sky
14      Pedernales      DO     79.21  18.0384  -71.7440     overcast clouds
16           Kapaa      US     82.38  22.0752 -159.3190          few clouds
18      Butaritari      KI     82.00   3.0707  172.7902     overcast clouds
22           Ambon      ID     87.94  -3.6954  128.1814    scattered clouds
27         Isangel      VU     86.11 -19.5500  169.2667       broken clouds

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
5,Yulara,AU,77.43,-25.2406,130.9889,overcast clouds,
6,Kupang,ID,86.47,-10.1667,123.5833,few clouds,
8,Carnarvon,AU,72.18,-24.8667,113.6333,clear sky,
11,Las Navas,PH,89.06,12.3392,125.0313,broken clouds,
12,Ribeira Grande,PT,70.32,38.5167,-28.7000,clear sky,
14,Pedernales,DO,79.21,18.0384,-71.7440,overcast clouds,
16,Kapaa,US,82.38,22.0752,-159.3190,few clouds,
18,Butaritari,KI,82.00,3.0707,172.7902,overcast clouds,
22,Ambon,ID,87.94,-3.6954,128.1814,scattered clouds,
27,Isangel,VU,86.11,-19.5500,169.2667,broken clouds,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    # print(hotels)
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
5,Yulara,AU,77.43,-25.2406,130.9889,overcast clouds,Desert Gardens Hotel - Ayers Rock Resort
6,Kupang,ID,86.47,-10.1667,123.5833,few clouds,Hotel On The Rock by Prasanthi
8,Carnarvon,AU,72.18,-24.8667,113.6333,clear sky,Hospitality Carnarvon
11,Las Navas,PH,89.06,12.3392,125.0313,broken clouds,JMT SQUARE
12,Ribeira Grande,PT,70.32,38.5167,-28.7000,clear sky,Quinta da Meia Eira
...,...,...,...,...,...,...,...
687,Nkhata Bay,MW,70.54,-11.6066,34.2907,broken clouds,Mayoka Village
692,Moussoro,TD,87.26,13.6408,16.4901,scattered clouds,Pharmacie alnadja Moussoro
698,Misratah,LY,86.43,32.3754,15.0925,scattered clouds,Almasa Hotel
701,Derac,HT,77.61,19.6500,-71.8167,overcast clouds,Le Marien Hotels & Resorts
704,West Bay,KY,82.47,19.3667,-81.4167,few clouds,Calypso Cove

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""].copy()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
5,Yulara,AU,77.43,-25.2406,130.9889,overcast clouds,Desert Gardens Hotel - Ayers Rock Resort
6,Kupang,ID,86.47,-10.1667,123.5833,few clouds,Hotel On The Rock by Prasanthi
8,Carnarvon,AU,72.18,-24.8667,113.6333,clear sky,Hospitality Carnarvon
11,Las Navas,PH,89.06,12.3392,125.0313,broken clouds,JMT SQUARE
12,Ribeira Grande,PT,70.32,38.5167,-28.7000,clear sky,Quinta da Meia Eira
...,...,...,...,...,...,...,...
687,Nkhata Bay,MW,70.54,-11.6066,34.2907,broken clouds,Mayoka Village
692,Moussoro,TD,87.26,13.6408,16.4901,scattered clouds,Pharmacie alnadja Moussoro
698,Misratah,LY,86.43,32.3754,15.0925,scattered clouds,Almasa Hotel
701,Derac,HT,77.61,19.6500,-71.8167,overcast clouds,Le Marien Hotels & Resorts
704,West Bay,KY,82.47,19.3667,-81.4167,few clouds,Calypso Cove

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Desert Gardens Hotel - Ayers Rock Resort</dd>\n<dt>City</dt><dd>Yulara</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel On The Rock by Prasanthi</dd>\n<dt>City</dt><dd>Kupang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>few clouds and 86.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JMT SQUARE</dd>\n<dt>City</dt><dd>Las Navas</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>broken clouds and 89.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Costa Marina</dd>\n<dt>City</dt><dd>Pedernales</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swiss-Belhotel Ambon</dd>\n<dt>City</dt><dd>Ambon</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.11 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5  -25.2406  130.9889
6  -10.1667  123.5833
8  -24.8667  113.6333
11  12.3392  125.0313
12  38.5167  -28.7000
14  18.0384  -71.7440
16  22.0752 -159.3190
18   3.0707  172.7902
22  -3.6954  128.1814
27 -19.5500  169.2667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info )


# Create a figure to add the Google map as a layer
fig = gmaps.figure()

# Display the figure containing the map

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))